<!doctype html>
<header>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</header>
<body>
<div class="login-container">
<title>Login</title>
<h2>Login</h2>
<form method="post" action="{{ url_for('login') }}">
  <label>Username: <input name="username"></label><br>
  <label>Password: <input type="password" name="password"></label><br>
  <input type="submit" value="Login">
</form>

<hr>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}
{% if message %}
<p style="color:green">{{ message }}</p>
{% endif %}


<p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>
</body>
